
<div class="banner">
		<div class="navbar">
			<div class="logo">
				<img scr="static/images/logo.png">	
			</div>
			<h2>TrabaHunters</h2> <br> <br> <br> <br> <br> <br> <br> <br> <br>
			<ul>
				<li class="active"><a href="{% url 'Main' %}">Home</a></li>
				<li><a href="{% url 'Register' %}">Register</a></li>
				<li><a href="{% url 'Feedback' %}">Feedback</a></li>
				<li><a href="{% url 'Jobs' %}">Jobs</a></li>
				<li><a href="{% url 'Aboutus' %}">About Us</a></li>
				<li><a href="{% url 'regtable' %}">Table</a></li>
			</ul>
		</div>
</div>