{% extends 'template.html' %}
<!DOCTYPE html>
<html>
<head>
	{% block content %}
	<title>TrabaHunters</title>
 <link rel="stylesheet" href="static/css/style.css">
</head>
<body>

  <div class="resume">
      <hr color="#fff" width="20%">
        <p align="center"><font face="sans-serif" color="black" size="50">RESUME</font></p>
      <hr color="#fff" width="10%">
      <br><br>
      <table align="center" cellspacing="10" cellpadding="15">
        <tr>
          <td>
            <img src="/home/acey/myproj/static/images/resum1.jpeg" height="200" width="300">
          </td>
          <td>
            <img src="/home/acey/myproj/static/images/resum2.jpeg" height="200" width="300">
          </td>
          <td>
            <img src="/home/acey/myproj/static/images/resum3.jpeg" height="200" width="300">
          </td>
        </tr>
        <tr>
          <td>
            <img src="/home/acey/myproj/static/images/resum4.jpeg" height="200" width="300">
          </td>
          <td>
            <img src="/home/acey/myproj/static/images/resum5.jpeg" height="200" width="300">
          </td>
          <td>
            <img src="/home/acey/myproj/static/images/resum6.jpeg" height="200" width="300">
          </td>
        </tr>
        <tr>
          <th colspan="3" rowspan="2"><a href="#">Upload Mine</a></th>
        </tr>
      </table>
    </div>
    </body>
</html>
{% endblock %}