<style>
*
{
  font-family: 'Finlandica', sans-serif;
  margin: 0px;
  box-sizing: border-box;
}
.section
{
  background-color: white;
}
/*.container
{
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.content-section
{
  float: left;
  width: 40%;
}*/
h1
{
  text-transform: uppercase;
  font-size: 50px;
  margin: 10px 30;
  width: 95%;
}
h3
{
  /*margin: 20px;*/
  color: black;
  font-size: 25px;
  margin: 10px 30;
  width: 95%;
}
p
{
/*  margin-top: 10px;*/
  /*font-family: sans-serif;*/
  font-size: 15px;
/*  line-height: 1.5;*/
  margin: 10px 30;
  width: 95%;
}
</style>

{% extends 'template.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block content %}
    <title>about us</title>
    <link href="styles4.css" rel="stylesheet">
  </head>
  <body>
      <h1>10 Tips for Completing a Job Application to Get an Interview</h1>
    <div class="section">
      <!-- <div class="container">
        <div class="content-section">
          <div class="title">
            <h1>ABOUT US</h1> -->
    </div>
          <div class="content">
            <br>
            <h3>Applying for a job is an important step in the hiring process. Your application shows your interest in the job and informs the employer of your relevant skills and experience. Knowing how to complete a job application well can have a significant impact on your chances of receiving an invitation to interview. In this article, we explore some steps and suggestions for how to successfully complete and submit a job application. </h3> 
            <br>
            <p>1. Read over the job application
Reading the job application may seem like an obvious step but people frequently skip it. Even if you scanned the job description before you decided to apply, it is still a good idea to go back and read it a couple of more times to make sure you did not miss any details. Employers typically receive hundreds of applications for a position. One of the most common methods they will use to narrow the applicant pool is to eliminate anyone who they think did not read the job description or requirements.
<br>
<br>
2. Use a professional name and email address
A professional job application calls for a professional email address. Some employers might disqualify an applicant for having an unprofessional email, even if the rest of their resume shows they are perfect for the job.
<br>
<br>
3. Follow the instructions
Sometimes a field calls for a full paragraph, a couple of sentences or just a “yes” or “no.” There are also fields that require you to spend some time answering in-depth questions. Regardless of what the specific questions require, make sure you are answering them correctly. Read the question a couple of times to make sure you understand and take some time to formulate a thorough answer.
<br>
<br>
4. Tailor your cover letter to the job
Environments like job fairs require you to repeatedly give the same documents to multiple companies. However, if you are applying for a specific job in person or online, you will want to tailor your cover letter and resume to suit the application. Before writing or editing your cover letter, look through the job description and pay attention to the kind of employee they are looking for. The job description has information that includes the required educational background, what type of personality fits the position, and the skill set they would prefer a candidate to possess.
<br>
<br>
6. Check your responses for errors
Misspellings and grammar errors show an employer you did not care enough to take the time to proofread or that you are not proficient with written communication. Most jobs require basic communication skills, so not putting in the effort to submit a resume that is free from spelling errors, uses the correct pronouns and follows other grammar rules can hinder your chances of being hired.
<br>
<br>
7. Track your applications when applying for multiple jobs
Remember to keep careful track of all your online job profiles, so you know where you have applied and the roles you have applied to. Keep a spreadsheet or a list of the company names and roles you have applied to, to create a quick reference.
<br>
<br>
8. Tidy your social media profiles
In the modern era, it is common for employers to look at your social media profiles. They want to know something about the person they are hiring and they feel that Facebook and other social media sites are good sources. Go over your profiles and consider removing anything objectionable. That means deleting posts or comments that might not reflect well on you or that do not represent your current maturity level. It is always a good idea to be aware of and control the image of yourself online.
<br>
<br>
9. Upload your resume
It may seem counterintuitive to submit the resume after you have entered all the information it contains into fields on the application. However, the applicant tracking system typically does not collect the information you have provided into a printable document and the employer may want to have a paper copy of your resume for reference. Resumes are also easy for the hiring manager to keep on file in case they decide to contact you about a job opening at a later date.
<br>
<br>
10. Review before submitting
Even though you have may have already reviewed the application for errors and checked that you followed the instructions, you need a final review of your entries before hitting that submit button. Remember: once you have submitted, you cannot make any changes. Once you are satisfied that you have done your best, click the submit button and leave the rest to the hiring team.

</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}